.button {
  color: $light-theme-color;
  background-color: $accent-theme;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

.button--hero-padding {
  padding: 10px 32px;
}

.button--subscribel {
  display: flex;
  align-items: center;

  letter-spacing: 0.06em;

  padding: 10px 29px;
  margin-right: auto;
  margin-left: auto;
}

.button--form {
  display: block;
  padding: 10px 56px;
  letter-spacing: 0.06em;

  margin-right: auto;
  margin-left: auto;
}
