body {
  min-width: 320px;
  background-color: $light-theme-color;
  color: $first-theme-color;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  @media screen and (max-width: 320px) {
    overflow-x: visible;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
