.header {
  border-bottom: 1px solid #ececec;
}

.container__header {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.nav {
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
  }
}

.nav__list {
  @media screen and (max-width: 767px) {
    margin-bottom: 302px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.nav__item {
  position: relative;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.nav__link {
  display: inline-block;

  font-weight: 500;
  letter-spacing: 0.02em;

  text-decoration: none;

  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-theme;
  }

  @media screen and (max-width: 767px) {
    color: $first-theme-color;
    font-size: 40px;
    line-height: 1.18;
  }

  @media screen and (min-width: 768px) {
    color: $first-theme-color;
    font-size: 14px;
    line-height: 1.14;

    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.nav__link--current {
  color: $accent-theme;

  @media screen and (min-width: 768px) {
    &::after {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;

      background-color: $accent-theme;
      border-radius: 2px;
    }
  }
}

.communication {
  @media screen and (max-width: 767px) {
    position: relative;

    padding-top: 72px;
    margin-bottom: 64px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.communication__item:not(:last-child) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
  }
}

.communication__link {
  display: block;

  font-weight: 500;
  letter-spacing: 0.02em;

  text-decoration: none;

  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.17;

    color: #757575;

    &--decorate {
      position: absolute;
      top: 0;

      color: $accent-theme;
      font-size: 34px;
      line-height: 1.18;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 1.17;

    color: $second-theme-color;
    fill: $second-theme-color;

    transition: color 250ms $timing-function, fill 250ms $timing-function;

    &:hover,
    &:focus {
      color: $accent-theme;
      fill: $accent-theme;
    }
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;

    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.communication__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }
}

.header__social-links {
  @media screen and (max-width: 767px) {
    display: flex;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__social-links-item {
  &:not(:first-child) {
    padding-left: 10px;
  }

  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.header__social-links-link {
  color: $accent-theme;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  text-decoration: none;
}
