.subscribel {
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.subscribel__box {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.subscribel__input {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);

  padding: 15px 16px;

  @include bordered(rgba(255, 255, 255, 0.3));
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;

  background-color: $footer-color;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: block;
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 369px;
    margin-right: 12px;
  }
}

.subscribel__icon {
  fill: $light-theme-color;
  margin-left: 10px;
}
